p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --primary-bg-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-title-color);
  font-family: roboto, sans-serif;
}

.accent {
  color: var(--accent-color);
}

.active-link:hover,
.active-link:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.display-flex, .footer__right .hero__container-button, .footer__right-flex, .footer__center-link, .clients__container-link, .team__container-block-link, .benefits__container-logo, .modal-close, .contacts__link, .contacts, .site-nav, .header__nav, .footer__left-logo, .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.footer__left-logo {
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.hero__container-button {
  cursor: pointer;
  padding: 10px 22px;
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-weight: 700;
  border-radius: 4px;
  border-style: none;
  min-width: 200px;
  text-align: center;
}
.hero__container-button:hover, .hero__container-button:focus {
  color: var(--accent-color);
  color: #ffffff;
}

.header {
  border: 1px solid #ececec;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link.current::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: var(--text-color);
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  padding: 32px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 10px;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-image.jpeg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__container-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  padding: 0;
  margin: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.modal-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
}
.modal-icon:hover {
  fill: var(--accent-color);
}

.form {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__field label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
.form__field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__field textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.svg-form-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
}

.form__field-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox:checked + label[for=policy] .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../img/icon check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field .form-input {
  padding-left: 42px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 4px;
}

.modal-text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__field-text {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 120px;
  padding-left: 12px;
  padding-top: 16px;
}
.form__field-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__field-checkbox label[for=policy] {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 8px;
}

.policy-link {
  color: #2196f3;
}

.form-input {
  position: relative;
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-input:focus ~ .svg-modal-icon {
  fill: #2196f3;
}

.button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__container-item {
  width: 270px;
  margin-right: 30px;
}
.benefits__container-item:last-child {
  margin-right: 0;
}

.benefits__container-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits__container-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.benefits__container-logo {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  padding-bottom: 94px;
}

.services__container-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.services__container-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__container-item {
  position: relative;
  margin-right: 30px;
}
.services__container-item:last-child {
  margin-right: 0;
}

.services__container-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 27px 82px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__container-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__container-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.team__container-item:last-child {
  margin-right: 0;
}

.team__container-block {
  text-align: center;
  padding: 30px;
}

.team__container-block-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__container-block-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__container-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__container-block-item + .team__container-block-item {
  margin-left: 10px;
}

.team__container-block-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__container-block-link:hover, .team__container-block-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team__container-block-icon {
  fill: currentColor;
}

.team__container-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-clients {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container-heading {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__container-item {
  margin-right: 30px;
}
.clients__container-item:last-child {
  margin-right: 0;
}

.clients__container-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #afb1b8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__container-link:hover, .clients__container-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.clients__container-icon {
  fill: currentColor;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__container {
  margin-bottom: 50px;
}

.filter__container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__container-item {
  margin-right: 8px;
}
.filter__container-item:last-child {
  margin-right: 0;
}

.filter__container-button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--primary-title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  text-align: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__container-button:hover, .filter__container-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-item:hover .examples-hover-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.examples-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-border {
  position: relative;
  overflow: hidden;
}

.examples-hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.border__name {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 24px;
}

.border__name-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.examples .text {
  color: var(--text-color);
}

.border__name-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  margin: 0;
}

.footer__left-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer__left-address p {
  margin-bottom: 9px;
}

.footer__left-location {
  color: #ffffff;
  text-decoration: none;
}

.footer__left-item,
.footer__left-location {
  cursor: pointer;
}

.footer__left-item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__left-item:hover, .footer__left-item:focus {
  color: var(--accent-color);
}

.footer__center {
  margin-left: 70px;
}

.footer__center-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.footer__center-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__center-item {
  margin-right: 10px;
}
.footer__center-item:last-child {
  margin-right: 0;
}

.footer__center-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--primary-bg-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__center-link:hover, .footer__center-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__center-logo {
  background-position: center;
  fill: currentColor;
}

.footer__right {
  margin-left: 93px;
  color: #ececec;
}

.footer__right-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

.footer__right-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__right-form {
  padding-left: 20px;
  min-width: 358px;
  min-height: 50px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #f5f4fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__right-form::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__right-form::-moz-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__right-form:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__right-form::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__right-form::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__right .hero__container-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__container-button-logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */