.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.benefits__container-list {
  @media screen and (min-width: 480px) {
    background-color: var(--mobile-background);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--title-text-color);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    background-color: var(--title-text-color);
  }
}
.benefits__container-item {
  @media screen and (min-width: 480px) {
    margin-right: 0px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    &:nth-child(2) {
      margin-right: 30px;
    }
  }
}

.benefits__container-title {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}
.benefits__container-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.benefits__container-logo {
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  @include desk {
    width: 270px;
  }
}
