.benefits {
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.benefits__container-list {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.benefits__container-item {
  @media screen and (max-width: 480px) {
    width: 100%;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 354px;
    margin-bottom: 30px;
    &:nth-last-child(-n + 2) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.benefits__container-title {
  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}
.benefits__container-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.benefits__container-logo {
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 345px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
