.section-clients {
  justify-content: center;

  @media screen and (max-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.clients__container-heading {
  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.clients__container-list {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients__container-item {
  @media screen and (max-width: 480px) {
    min-width: 210px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.clients__container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 226px;
  }
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  color: #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: none;
  }
}
.clients__container-icon {
  fill: currentColor;
}
