.contacts {
  display: flex;

  color: var(--text-color);
}
.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  flex-direction: row-reverse;
  display: flex;
  color: var(--text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @extend .display-flex;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__link {
    padding-top: 0;
    padding-bottom: 10px;
    &:nth-child(2) {
      padding-bottom: 0;
    }
  }
}
.contacts__icon {
  fill: currentColor;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__item + .contacts__item {
    margin-left: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts {
    display: block;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
}
.contacts__item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
