.examples {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
.examples-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.examples-item {
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 30px;
    &:hover .examples-hover-text {
      opacity: 1;
      transform: translateY(0);
    }
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
}
.examples-border {
  position: relative;
  overflow: hidden;
}
.examples-hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.border__name {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}
.border__name-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.border__name-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
