.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover .examples-hover-text {
    opacity: 1;
    transform: translateY(0);
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.examples-border {
  position: relative;
  overflow: hidden;
}
.examples-hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.border__name {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}
.border__name-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.examples .text {
  color: var(--text-color);
}
.border__name-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
