.footer {
  background-color: #2f303a;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__section {
  align-items: baseline;
  justify-content: space-between;
}
// LEFT FOOTER
.footer__left {
  margin: 0;
  text-align: center;
}

.footer__left-address {
  @media screen and (min-width: 480px) {
  }
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer__left-address p {
  margin-bottom: 9px;
}

.footer__left-location {
  color: #ffffff;
  text-decoration: none;
}

.footer__left-item,
.footer__left-location {
  cursor: pointer;
}

.footer__left-item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// CENTRAL FOOTER
.footer__center {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__center-title {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
.footer__center-list {
  display: flex;
  justify-content: center;
}
.footer__center-item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.footer__center-link {
  @extend .display-flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--primary-bg-color);
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer__center-logo {
  background-position: center;
  fill: currentColor;
}
// RIGHT FOOTER
.footer__right {
  color: #ececec;
}

.footer__right-title {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
.footer__right-flex {
}

.footer__right-form {
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  padding-left: 20px;
  min-height: 50px;
  margin-right: 12px;

  background-color: #2f303a;
  color: #f5f4fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__right .hero__container-button {
  @media screen and (min-width: 480px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__container-button-logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
