.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  flex-grow: 1;
  background-image: url("/img/Hero-web-1x.jpeg");
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("/img/Hero-web-2x.jpeg");
  }
}

@include tel {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url("/img/Hero-mob-2x.jpeg");
    }
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: 0;
}
.hero__container-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 360px;
}
