.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  flex-grow: 1;
  background-image: url(/img/hero-image.jpeg);
  @include desk {
    width: 100%;
  }
  @include tab {
    width: 100%;
  }
  @include tel {
    width: 100%;
  }
}
.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: 0;
}
.hero__container-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 360px;
}
