.services {
  padding-bottom: 94px;
}
.services__container-heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.services__container-photo {
  display: flex;
}
.services__container-item {
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.services__container-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 27px 82px;
}
