.filter {
  @include tel {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include tab {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.filter__container {
  @media screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.filter__container-list {
  display: flex;
  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
}
.filter__container-item {
  margin-right: 8px;
  margin-bottom: 15px;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.filter__container-button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--primary-title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  text-align: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
