.team {
  background-color: #f5f4fa;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.team__container-team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.team__container-item {
  @media screen and (min-width: 480px) {
    width: 450px;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

.team__container-block {
  text-align: center;
  padding: 30px;
}
.team__container-block-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__container-block-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__container-block-list {
  display: flex;
  justify-content: center;
}
.team__container-block-item + .team__container-block-item {
  margin-left: 10px;
}
.team__container-block-link {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.team__container-block-icon {
  fill: currentColor;
}
.team__container-heading {
  @media screen and (min-width: 480px) {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
