.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__container-team {
  display: flex;
}
.team__container-item {
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.team__container-block {
  text-align: center;
  padding: 30px;
}
.team__container-block-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__container-block-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__container-block-list {
  display: flex;
  justify-content: center;
}
.team__container-block-item + .team__container-block-item {
  margin-left: 10px;
}
.team__container-block-link {
  @extend .display-flex;
  justify-content: center;

  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.team__container-block-icon {
  fill: currentColor;
}
.team__container-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
