.display-flex {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000000;
  text-decoration: none;
  font-family: raleway, sans-serif;
  @include font(26px, 1.19, 0.03em, 700);
  display: flex;
  align-items: center;
}

.footer__left-logo {
  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  color: #ffffff;
  text-decoration: none;
  font-family: raleway, sans-serif;
  @include font(26px, 1.19, 0.03em, 700);
}
