@mixin font($font-size, $line-height, $letter-spacing, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}
@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desk {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
